/* 
Bug: after user finishes first line of words,
the next line goes lower, and it looks uncentered vertically.
*/

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline;
    color: cyan;
    font-size: 2em;
    background-color: rgb(8, 0, 50);
    padding: 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: darkslategray;
}

.done-correct {
    color: green;
}

.done-wrong {
    color: red;
}

.current {
    background-color: rgb(227, 226, 232);
}

.current-wrong {
    background-color: red;
}

span {
    padding: 0 5px;
    border-radius: 5px;
}

body {
    background-color: navy;
}

#words-div {
    background-color: white;
    max-width: 1200px;
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    padding: 0px 35px;
    border: 3px solid gray;
    border-radius: 20px;
    max-height: 245px;
    overflow: hidden;
    position: relative;

}

#words-div span {
    visibility: hidden;
}

#input-div {
    max-width: 610px;
    margin: 0 auto 0 auto;
}

#textbox {
    margin: auto;
    max-width: 370px;
}

#restart {
    font-size: 2em;
}

#timer {
    padding: 10px;
    background-color: white;
    display: inline-block;
    min-width: 35px;
    font-size: 2em;
    text-align: center;
}