
body {
    background-image: url(dark-brown-wood.png);
    
}

.current {
    background-color: rgba(185, 164, 107, 0.8);
}

.wrong {
    background-color: red;
}

span {
    padding: 0 5px;
    border-radius: 5px;
}

#words-div {
    background-image: url(light-brown-wood.jpg);
    background-repeat: round;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    padding: 0 35px;
    border: 2px solid rgb(168, 140, 107);
    border-radius: 20px;
}

#input-div {
    max-width: 450px;
    margin: 0 auto 0 auto;
}

#textbox {
    margin: auto;
}

